.main {
    padding-block: 80px;
    display: flex;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.search_btn {
    background-color: var(--secondary03-color);
}

.input {
    width: 300px;
}

.btns_section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 25px;
}

.S_button {
    margin: 0px 10px;
    width: 80px;
}

.S_button:focus {
    background-color: var(--primary02-color);
}