@import url("https://use.typekit.net/ucm8usq.css");

:root {
    --primary01-color: #1ED760;
    --primary02-color: #f7e32c;

    --secondary01-color: #000000;
    --secondary02-color: #191414;
    --secondary03-color: #ffffff;

    --neutral01-color: #b2b2b2;
    --neutral02-color: #777777;
    --neutral03-color: #535353;

    --font-size-h1: 80px;
    --font-size-h2: 32px;
    --font-size-h3: 20px;
    --font-size-h4: 14px;
    --font-size-h5: 12px;
    --font-size-body01: 18px;
    --font-size-body02: 13px;
    --font-size-body03: 10px;
    --font-size-inputs: 14px;

    --font-family: "liberation-sans", sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    color: var(--secondary01-color);
}

/* BUTTONS */

button {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    background-color: var(--primary01-color);
    width: fit-content;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary02-color);
}

.login_button {
    padding: 30px 70px;
    font-size: var(--font-size-h2);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    background-color: var(--primary01-color);
    width: fit-content;
    border-radius: 50px;
}

.M_button {
    padding: 12px 20px;
    font-size: var(--font-size-h3);
}

.S_button {
    padding: 10px 20px;
    font-size: var(--font-size-h4);
}

/* INPUTS */


.inputWrap {
    border: solid 2px var(--secondary01-color);
    border-radius: 25px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputWrap:hover {
    border: solid 2px var(--primary02-color);
}


.input {
    height: 25px;
    border: none;
    font-size: var(----font-size-inputs);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
}