.mainframe {
    width: 100vw;
    height: 100vh;
    background-image: url(./login_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.wrap {
    padding-inline: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 90px ;
    padding-bottom: 200px;
}

h1 {
    font-size: var(--font-size-h1);
}

.logo_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
}

.logos {
    height: 75px;
}

.divider_line {
    width: 2px;
    background-color: black;
}